resources/graphics filter=lfs diff=lfs merge=lfs -text
gra filter=lfs diff=lfs merge=lfs -text
resources/fonts filter=lfs diff=lfs merge=lfs -text
resources/fonts/AsapCondensed-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/AsapCondensed-Light.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/AsapCondensed-Light.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/AsapCondensed-Light.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/AsapCondensed-Light-60.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/AsapCondensed-Bold-112.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/AsapCondensed-Light-112.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/AsapCondensed-Bold-119.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/AsapCondensed-Bold-98.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/AsapCondensed-Light-68.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/AsapCondensed-Light-56.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/AsapCondensed-Bold-80.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/AsapCondensed-Light-78.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/AsapCondensed-Light-119.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/AsapCondensed-Bold-130.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/AsapCondensed-Bold-60.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/AsapCondensed-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/AsapCondensed-Bold-47.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/AsapCondensed-Bold-75.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/AsapCondensed-Light-98.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/AsapCondensed-Light-60.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/AsapCondensed-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/AsapCondensed-Light.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/AsapCondensed-Light-80.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/AsapCondensed-Bold-89.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/AsapCondensed-Light-89.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/AsapCondensed-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/AsapCondensed-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/AsapCondensed-Light.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/AsapCondensed-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/AsapCondensed-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/AsapCondensed-Light-63.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/AsapCondensed-Bold-78.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/AsapCondensed-Light-130.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/AsapCondensed-Light-47.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/AsapCondensed-Bold-60.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/AsapCondensed-Light-103.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/AsapCondensed-Bold-84.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/AsapCondensed-Light-84.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/AsapCondensed-Light.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/AsapCondensed-Light.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/AsapCondensed-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/AsapCondensed-Light.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/AsapCondensed-Bold-68.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/AsapCondensed-Bold-80.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/AsapCondensed-Light-80.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/AsapCondensed-Light.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/AsapCondensed-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/AsapCondensed-Bold-63.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/AsapCondensed-Light-51.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/AsapCondensed-Bold-56.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/AsapCondensed-Light-75.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/AsapCondensed-Bold-103.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/AsapCondensed-Bold-51.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/xxiv-xxxviii-double.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/xxiv-xxxviii-single.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/RomanTimeCapture.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/RomanTimeHero[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/RomanTimeHero[[:space:]]2.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/RomanTimeHero.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/AsapCondensed-Bold-97.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/AsapCondensed-Light-69.png filter=lfs diff=lfs merge=lfs -text
resources/drawables/launcher_icon.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/AsapCondensed-Light-111.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/AsapCondensed-Bold-111.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/AsapCondensed-Light-62.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/AsapCondensed-Bold-69.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/AsapCondensed-Bold-77.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/AsapCondensed-Bold-62.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/AsapCondensed-Light-97.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/AsapCondensed-Light-74.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/AsapCondensed-Light-77.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/AsapCondensed-Bold-74.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/AsapCondensed-Light-69.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/AsapCondensed-Bold-91.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/AsapCondensed-Bold-42.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/AsapCondensed-Light-38.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/AsapCondensed-Light-42.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/AsapCondensed-Bold-51.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/AsapCondensed-Bold-69.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/AsapCondensed-Bold-38.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/AsapCondensed-Light-32.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/AsapCondensed-Light-69.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/AsapCondensed-Light-39.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/AsapCondensed-Light-51.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/AsapCondensed-Bold-69.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/AsapCondensed-Bold-50.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/AsapCondensed-Bold-32.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/AsapCondensed-Light-50.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/AsapCondensed-Light-51.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/AsapCondensed-Light-91.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/AsapCondensed-Bold-51.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/AsapCondensed-Bold-39.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/RomanTimeHero-small.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/RomanTimeDesign02.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/RomanTimeDesign01.png filter=lfs diff=lfs merge=lfs -text
resources-round-208x208/fonts/AsapCondensed-Light-45.png filter=lfs diff=lfs merge=lfs -text
resources-round-208x208/fonts/AsapCondensed-Bold-45.png filter=lfs diff=lfs merge=lfs -text
resources-round-208x208/fonts/AsapCondensed-Bold-59.png filter=lfs diff=lfs merge=lfs -text
resources-round-208x208/fonts/AsapCondensed-Light-59.png filter=lfs diff=lfs merge=lfs -text
